<mat-card class="resTable">
    <mat-card-header>
        <mat-card-title fxLayout="column" fxLayoutAlign="center">Today's Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field *ngIf="dataSource.data.length > 0"> 
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search For Reservation">
        </mat-form-field>
        <table mat-table 
            [dataSource]="dataSource" 
            matSort 
            matSortActive="date" 
            matSortDirection="asc" 
            #sort="matSort" 
            class="mat-elevation-z8 table" 
            *ngIf="dataSource.data.length > 0">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let res"> {{res.date | date:'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Party Name </th>
                <td mat-cell *matCellDef="let res"> {{res.name}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let res"> {{res.time}} </td>
            </ng-container>

            <ng-container matColumnDef="numPeople">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # of People </th>
                <td mat-cell *matCellDef="let res"> {{res.numPeople}} </td>
            </ng-container>

            <ng-container matColumnDef="table">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Table </th>
                <td mat-cell *matCellDef="let res"> {{res.table}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary" (click)="filledReservation(row)">Fullfilled</button>
                    <button mat-raised-button color="warn" (click)="deleteReservation(row)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource.data.length === 0">No records found</div>
    </mat-card-content>
</mat-card>

<mat-card class="resTable">
    <mat-card-header>
        <mat-card-title fxLayout="column" fxLayoutAlign="center">Filled Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <table mat-table 
            [dataSource]="filledResDataSource" 
            matSort
            #sortFill="matSort"
            class="mat-elevation-z8"
            *ngIf="filledResDataSource.data.length > 0">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let res"> {{res.date | date:'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Party Name </th>
                <td mat-cell *matCellDef="let res"> {{res.name}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let res"> {{res.time}} </td>
            </ng-container>

            <ng-container matColumnDef="numPeople">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # of People </th>
                <td mat-cell *matCellDef="let res"> {{res.numPeople}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="filledColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: filledColumns;"></tr>
        </table>
        <div *ngIf="filledResDataSource.data.length === 0">No records found</div>
    </mat-card-content>
</mat-card>